---
---
@charset "utf-8";

// Variables
$base-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$base-fixed-font-family: 'Roboto Mono', Monaco, courier, monospace;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #252e37;

// Width of the content area
$content-width:    800px;
$on-phone:          600px;
$on-laptop:        800px;

// @include media-query($on-phone) {
//     .wrapper {
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;
