---
layout: home
---
<main id="recent-posts">
    <span class="dashes">---</span>
    <ul class="posts">
        {% for post in site.posts limit:7 offset:0 %}
            {% if post.published %}
                <li class="recent-post">
                    <h3> 
                        <a href='{{ post.url }}'>{{ post.title }}</a>
                        <span>{{ post.date | date_to_string }}</span>
                    </h3>
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
</main>
